.header{
    margin: -8px;
    width: auto;
    background: linear-gradient(to right,#b911a4, #5a117c);
    padding: 8px 0 16px;
    display: flex;

    z-index: 1;
}
.header_container{
    display: block;
    width: 100%;
}
.header_top{
    /* display: flex;
    margin-bottom: 12px;
    height: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

}
.h_top_ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding-left: 20px;
 

}
.h_top_ul li{
    margin-right: 12px;
    font-size: 14px;
    color: #baa0cc;
    margin-top: auto;
}
.h_top_but_items{

    padding-left: 10px;
}
.h_top_but_items:hover .nameBut{
    color: white;
}
.checkbox {
    display: block;
    height: 45px;
    width: 45px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}
.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}


.header_bottom{
    display: flex;
    align-items: center; 
    height: 60px;
}
.search{
    width: 880px;
    background-color: white;
    margin-left: 12px;
    margin-right: 20px;
    height: 100%;
    border-radius: 12px;
    padding-left: 10px;
    color: #baa0cc;
    font-size: 20px;

}
.header_l{
    display: flex;
    align-items: center;
}
.but_menu{
    width: 45px;
    height: 45px;
    background-color: #c111a7;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 10px;
    position: relative;
}
.header_r{
    display: flex;
    margin-right: 0px;
}
.h_but{
    display: flex;
}
.h_but_items{
    display: grid;
    padding-left: 10px;
}
.h_but_items:hover .nameBut{
    color: white;
}
.imgBut{
    margin: 0 auto 6px;
}
.nameBut{
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #baa0cc;
    transition: 0.25s;
}
.title{
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding-left: 25px;
}
.Sidemenu{
    height: 100%;
    width: 310px;
    position: fixed;
    left: -310px;
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-top: 110px;
    z-index: 1;
    transition: transform 0.4s linear;

   
}
.Sidemenu.active{
    transform: translateX(100%);
}
.Cartmenu{
    height: 100%;
    width: 370px;
    position: fixed;
    right: -370px;
    background-color: rgb(231, 228, 228);
    margin-right: 0px;
    margin-top: 107px;
    z-index: 1;
    transition: transform 0.4s linear;

   
}
.Cartmenu.active{
    transform: translateX(-100%);
}